body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
footer {
  background: #018077;
  display: block;
  align-items: center;
  justify-content: center;
}
main {
  background: #018077;
  display: block;
  margin-bottom: auto;
}
